/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp ESCAPE    &kp NUMBER_1  &kp N2            &kp N3  &kp N4    &kp N5       &kp N6     &kp N7    &kp N8         &kp N9     &kp N0    &kp BACKSPACE
  &kp TAB       &kp Q         &kp W             &kp E   &kp R     &kp T        &kp Y      &kp U     &kp I          &kp O      &kp P     &kp MINUS
  &kp CAPSLOCK  &kp A         &kp S             &kp D   &kp F     &kp G        &kp H      &kp J     &kp K          &kp L      &kp SEMI  &kp SINGLE_QUOTE
  &kp LSHIFT    &kp Z         &kp X             &kp C   &kp V     &kp B        &kp N      &kp M     &kp COMMA      &kp DOT    &kp FSLH  &kp LEFT_BRACKET
                              &kp LEFT_CONTROL  &mo 1   &kp LGUI  &kp SPACE    &kp ENTER  &kp LALT  &kp BACKSLASH  &kp RCTRL
            >;
        };

        lower_layer {
            bindings = <
  &kp GRAVE  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans  &trans  &trans    &trans    &trans          &trans        &kp K_MUTE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
  &kp F1     &kp F2                &kp F3                &kp F4  &kp F5  &kp F6    &kp F7    &kp F8          &kp F9        &kp F10     &kp F12           &kp EQUAL
  &trans     &trans                &trans                &trans  &trans  &trans    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &kp F11           &kp HOME
  &trans     &trans                &trans                &trans  &trans  &trans    &trans    &trans          &trans        &trans      &trans            &kp END
                                   &trans                &trans  &trans  &trans    &trans    &trans          &trans        &trans
            >;
        };
    };
};
